$ps-blue: #004ce0;
$ps-blue-light: rgba(0, 140, 255, .2);
$ps-orange: #ffb52f;
$ps-red: #FF5368;
$ps-red-light: rgba(255, 83, 104, .1);
$ps-green: #00CE7D;
$ps-green-light: #FBFFFD;
$ps-black: #18191F;
$ps-gray: #e5e5e5;
$ps-gray-light: #F9F9F9;
$ps-border: 1px solid $ps-gray;
$ps-basic-unit: 8px;
